*{
	padding: 0;
	margin: 0;
}
body {
 /* height: 100%;
  overflow: hidden;*/
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC","微软雅黑", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
  background-image: linear-gradient(to right, #716eff , #966aff);
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  background: #ebeae8;
  border: 1px solid #dadada;
  /* 整个滚条背景 */
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #c6c3bd;
  /* 滚条内嵌颜色 */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
}
.wrapper{
  overflow:hidden;
}
.banner{
  text-align: center;
  position: relative;
}
.banner img{
  width: 100%;
}
.banner .link{
  position: absolute;
  bottom: -0.65em;
  z-index: 999;
  width: 120%;
}
.banner .link1{
  left: 5em;
}
.banner .link2{
  right: 5em;
}
.content{
  background:#5855e7;
  margin: -1em 1.875em 1.875em;
  padding:0.875em 0em 1em;
  border-radius:0.875em;
  box-shadow: 0 8px 20px rgba(95,77,221,0.8);
}
.cons{
  font-size: 1.625em;
  margin: 0 0.875em;
  padding:2.5em 1.25em  2em;
  background:#fff;
  border-radius:0.5em;
  text-indent: 2em;
  line-height: 1.625em;
}
.p2{
  margin-top: 1.625em;
}

.p2 b{
  color: #ff7322;
  font-size: 1.25em;
  border-bottom: 3px solid #ff7322;
}
/*.p2 b em{
  width: 4.25em;
  height: 0.500em;
  background:#fff77d;
  position: absolute;
  bottom: -2px;
  left:-5px;
  z-index: -1;
  display: inline-block;
}*/
b{
  font-size: 1.25em;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.cons .dd1{
  text-indent: 0;
  color: #5855e7;
  padding-left: 2.25em;
  position: relative;
  margin-bottom: 1.25em;
}
.cons dl{
  margin-top: 1.625em;
}
dt{
  margin-bottom: 1.625em;
  font-weight: bold;
}
dd span{
  /*background:url(../images/duobianxing.png) no-repeat;*/
  background:#5855e7;
  width: 1.625em;
  height:1.625em;
  border-radius:0.875em;
  display: block;
  font-size: 1.125em;
  text-align: center;
  line-height:1.62em;
  color: #fff;
  position: absolute;
  top: 0;
  left:0;
}
.dl2{
  background:#f3f0ff;
  padding: 1.375em 1.625em;
  border-radius:0.5em;
}
.dl2 p,.dl3 p{
  text-indent: 0;
  margin-top: 1.250em;
  text-align: center;
}
.dl2 img,.dl3 img{
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dl3 img{
  text-align: center;
  width: 50%;
}